
body{
    background: black;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

h1.ml8 {
    font-weight: 900;
    font-size: 4.5em;
    color: #fff;
    width: 3em;
    height: 3em;
}

.ml8 .letters-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 1em;
    text-align: center;
}

.ml8 .letters {
    position: relative;
    z-index: 2;
    display: inline-block;
    line-height: 0.7em;
    right: -0.12em;
    top: -0.2em;
}

.ml8 .bang {
    font-size: 1.4em;
    top: auto;
    left: -0.06em;
}

.ml8 .circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}

.ml8 .circle-white {
    width: 3em;
    height: 3em;
    border: 2px dashed white;
    border-radius: 2em;
}

.ml8 .circle-dark {
    width: 2.2em;
    height: 2.2em;
    background-color: #00e5ff;
    border-radius: 3em;
    z-index: 1;
    /*padding: 2%;margin: 2%}*/
}

.ml8 .circle-dark-dashed {
    border-radius: 2.4em;
    background-color: transparent;
    border: 2px dashed #aa00ff;
    width: 2.3em;
    height: 2.3em;
}
.circle-dark{padding: 2%;margin: 2%}
.jconfirm.jconfirm-supervan .jconfirm-box {
    width: 300px!important;
    background: cadetblue!important;
    animation: miovaova 50s;
    -webkit-animation: miovaova 50s;
}

.jconfirm.jconfirm-supervan .jconfirm-box:hover{
    animation: none !important;
    -webkit-animation: none !important;
}

@keyframes miovaova
{
    0%   {background: #ffebee;}
    25%  {background: #011915;}
    50%  {background: #18ffff;}
    75%  {background: #651fff;}
    100% {background: #ff5252;}
}

@-webkit-keyframes miovaova /* Safari and Chrome - necessary duplicate */
{
    0%   {background: #ffebee;}
    25%  {background: #011915;}
    50%  {background: #18ffff;}
    75%  {background: #651fff;}
    100% {background: #ff5252;}
}

.ml11 {
    font-weight: 900;
    font-size: 3.5em;
    color: white;
    margin: 23% auto;
    text-align: center;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}